<template>
  <v-container>
    <v-row class="text-center">
      <template v-if="loading">
        <v-col md="4"></v-col>
        <v-col md="4">
          <v-img :src="loadingGif"></v-img>
        </v-col>
      </template>
      <v-col v-for="(value, name) in perfTime" md="6" v-else>
        <graph :graph-name="name" :values="value" >
        </graph>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  import axios from "axios"
  import {serverAddress} from "../config";
  import loadingGif from "../assets/lg.curved-bar-spinner.gif"
  import Graph from "./Graph";

  export default {
    name: 'Dashboard',
    components: {Graph},
    data: () => ({
      perfTime:{},
      loading:false,
      loadingGif
    }),
    mounted() {
      this.loading=true;
      this.getPerfTime().then(data=>{
        this.serializePerfTime(data);
        this.loading=false;
      })
    },
    methods:{
      getPerfTime(){
        return new Promise((resolve,reject)=>{
          axios.get(serverAddress+"/perfTime").then(response=>{
            resolve(response.data);
          }).catch(err=>{
            reject(err)
          })
        })
      },
      serializePerfTime(data){
        data.forEach(datum=>{
          if(!this.perfTime[datum.name]){
            this.perfTime[datum.name]=[]
          }
          this.perfTime[datum.name].push({value:[new Date(datum.createdAt),datum.time]});
        })
      }
    }
  }
</script>
