<template>
    <v-card>
        <v-card-title>
            {{graphName}}
        </v-card-title>
        <div :ref="graphName"  style="height: 350px;">

        </div>
    </v-card>
</template>

<script>
    import * as echarts from 'echarts'
    export default {
        name: "Graph",
        props:["graphName","values"],
        data(){
            return{
                option : {
                    xAxis: {
                        type: 'time',
                        splitLine: {
                            show: false
                        }
                    },
                    yAxis: {
                        type: 'value',
                        splitLine: {
                            show: false
                        }
                    },
                    tooltip: {
                        trigger: 'axis',
                        formatter: function (params) {
                            params = params[0];
                            return params.data.value[0].toLocaleString("en-GB") + ' : ' + params.value[1];
                        },
                        axisPointer: {
                            animation: false
                        }
                    },
                    series: [{
                        name: 'PerfTime',
                        type: 'line',
                        showSymbol: false,
                        hoverAnimation: false,
                        data: []
                    }]
                }
            }
        },
        mounted() {
            let graphElement=this.$refs[this.graphName];
            let chart = echarts.init(graphElement);
            this.option.series[0].data=this.values;
            chart.setOption(this.option)
        }
    }
</script>

<style scoped>

</style>
