<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          :src="logo"
          transition="scale-transition"
          width="40"
        />
        <v-toolbar-title>PerfAnalytics</v-toolbar-title>

      </div>

      <v-spacer></v-spacer>

    </v-app-bar>

    <v-main>
      <Dashboard/>
    </v-main>
  </v-app>
</template>

<script>
import Dashboard from './components/Dashboard';
import logo from "./assets/logo.png"
export default {
  name: 'App',
  data: () => ({
    logo
  }),
  components: {
    Dashboard,
  },
};
</script>
